{% extends "base_generic.html" %}

{% block content %}
    <h1>Forum List</h1>

    <div style="margin-left:20px;margin-top:20px">
    <p><strong>Всего форумов:</strong> ({{ num_forum_for_category }})</p>
    </div>

    {% if forum_list %}
    <ul>

      {% for forum in forum_list %}
      <li>
        <a href="{{ forum.get_absolute_url }}/topics ">{{ forum.title }}
        </a> ({{forum.category}})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no forum in the Forum.</p>
    {% endif %}
{% endblock %}

topic.post_set.all.count