{% extends "base_generic.html" %}

{% block content %}
    <h1>Topic List</h1>

    <div style="margin-left:20px;margin-top:20px">
        <p><strong>Всего форумов:</strong> ({{ num_topic_for_forum }})</p>
    </div>
       <p><a href="{% url 'topic_add' pk=id_forum %}"
       class="top-menu">Добавить тему:</a></p>

    {% if topic_list %}
    <ul>

      {% for topic in topic_list %}
      <li>
        <a href="{{ topic.get_absolute_url }}/posts">{{ topic.title }}
        </a> ({{topic.forum}})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no topic in the Forum.</p>
    {% endif %}
{% endblock %}


<!--<p><a href="{% url 'topic_add' pk=forum.id %}"
       <p><a href="{% url 'topic_add' pk=forum.id %}"
       class="top-menu">Добавить сообщение:</a></p>
-->