{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ topic.title }}</h1>

  <p><strong>Title:</strong> <a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></p>
  <p><strong>Forum:</strong> {{ topic.forum }}</p>
  <p><strong>Created :</strong> {{ topic.created }}</p>
  <p><strong>Creator :</strong> {{ topic.creator }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <p><strong>Сообщений в теме:</strong> ({{topic.post_set.all.count}})</p>
   <p><a href="{% url 'post_add' pk=topic.id %}"  class="top-menu">Добавить сообщение:</a></p>


  </div>
{% endblock %}


<!--<p><a href="{% url 'post_add' pk=topic.id %}"  class="top-menu">Добавить сообщение:</a></p>
   {% if is_paginated %}

       {% endif %}-->